{
  "extends": "airbnb",
  "env": {
    "node": true,
  },
  "rules": {
    "strict": [ 2, "safe" ]
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "ecmaFeatures": {
    "modules": false
  }
}
